In [27]:
import pandas as pd
import numpy as np 
import matplotlib
import seaborn
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('credit_risk_dataset.csv')
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

In [5]:
df['person_emp_length'].describe()

count    31686.000000
mean         4.789686
std          4.142630
min          0.000000
25%          2.000000
50%          4.000000
75%          7.000000
max        123.000000
Name: person_emp_length, dtype: float64

In [6]:
df.loc[df['person_emp_length']>=100]

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
210,21,192000,MORTGAGE,123.0,VENTURE,A,20000,6.54,0,0.10,N,4

In [7]:
df.loc[df['person_emp_length'].isna()]

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
105,22,12600,MORTGAGE,NaN,PERSONAL,A,2000,5.42,1,0.16,N,4
222,24,185000,MORTGAGE,NaN,EDUCATION,B,35000,12.42,0,0.19,N,2
379,24,16800,MORTGAGE,NaN,DEBTCONSOLIDATION,A,3900,NaN,1,0.23,N,3
407,25,52000,RENT,NaN,PERSONAL,B,24000,10.74,1,0.46,N,2
408,22,17352,MORTGAGE,NaN,EDUCATION,C,2250,15.27,0,0.13,Y,3
...,...,...,...,...,...,...,...,...,...,...,...,...
32285,38,12000,OWN,NaN,EDUCATION,A,4800,7.29,1,0.40,N,12
32328,51,18408,RENT,NaN,PERSONAL,C,1000,14.65,1,0.05,Y,20
32360,70,39996,RENT,NaN,MEDICAL,C,3600,15.23,0,0.09,Y,19
32453,56,32400,RENT,NaN,MEDICAL,A,8575,7.51,0,0.26,N,18
32471,53,54000,RENT,NaN,MEDICAL,D,10000,14.59,1,0.19,Y,27

In [10]:
df= df.dropna()

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28638 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  28638 non-null  int64
 1   person_income               28638 non-null  int64
 2   person_home_ownership       28638 non-null  object
 3   person_emp_length           28638 non-null  float64
 4   loan_intent                 28638 non-null  object
 5   loan_grade                  28638 non-null  object
 6   loan_amnt                   28638 non-null  int64
 7   loan_int_rate               28638 non-null  float64
 8   loan_status                 28638 non-null  int64
 9   loan_percent_income         28638 non-null  float64
 10  cb_person_default_on_file   28638 non-null  object
 11  cb_person_cred_hist_length  28638 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 2.8+ MB

In [23]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [24]:
df['person_home_ownership'].value_counts(normalize= True)

RENT        0.508101
MORTGAGE    0.412075
OWN         0.076542
OTHER       0.003282
Name: person_home_ownership, dtype: float64

In [34]:
def dummyEncode_column(column):
    le = LabelEncoder()
    df[f'{column.name}'] = le.fit_transform(df[f'{column.name}'])
    globals() [f'df_{column.name}_categories'] = list(le.classes_)

    print(f'After passing column ["{column.name}]" through LabelEncoder(): \n')

    for i in range(0, len(list(le.classes_))):
        print(f'Categorical value {le.inverse_transform([i])} is replaced with numerical value {[i]}')
    print (f'\n[df_{column.name}_categories] = ', globals() [f'df_{column.name}_categories'])
    display(df)

In [35]:
dummyEncode_column(df['person_home_ownership'])

After passing column ["person_home_ownership]" through LabelEncoder():

Categorical value ['MORTGAGE'] is replaced with numerical value [0]
Categorical value ['OTHER'] is replaced with numerical value [1]
Categorical value ['OWN'] is replaced with numerical value [2]
Categorical value ['RENT'] is replaced with numerical value [3]

[df_person_home_ownership_categories] =  ['MORTGAGE', 'OTHER', 'OWN', 'RENT']

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,df_person_home_ownership
0,22,59000,3,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3,3
1,21,9600,2,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2,2
2,25,9600,0,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3,0
3,23,65500,3,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2,3
4,24,54400,3,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,0,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30,0
32577,54,120000,0,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19,0
32578,65,76000,3,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28,3
32579,56,150000,0,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26,0
32580,66,42000,3,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30,3

In [36]:
df['loan_intent'].value_counts(normalize= True)

EDUCATION            0.199176
MEDICAL              0.184824
VENTURE              0.174628
PERSONAL             0.170298
DEBTCONSOLIDATION    0.159404
HOMEIMPROVEMENT      0.111670
Name: loan_intent, dtype: float64

In [37]:
dummyEncode_column(df['loan_intent'])

After passing column ["loan_intent]" through LabelEncoder():

Categorical value ['DEBTCONSOLIDATION'] is replaced with numerical value [0]
Categorical value ['EDUCATION'] is replaced with numerical value [1]
Categorical value ['HOMEIMPROVEMENT'] is replaced with numerical value [2]
Categorical value ['MEDICAL'] is replaced with numerical value [3]
Categorical value ['PERSONAL'] is replaced with numerical value [4]
Categorical value ['VENTURE'] is replaced with numerical value [5]

[df_loan_intent_categories] =  ['DEBTCONSOLIDATION', 'EDUCATION', 'HOMEIMPROVEMENT', 'MEDICAL', 'PERSONAL', 'VENTURE']

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,df_person_home_ownership
0,22,59000,3,123.0,4,D,35000,16.02,1,0.59,Y,3,3
1,21,9600,2,5.0,1,B,1000,11.14,0,0.10,N,2,2
2,25,9600,0,1.0,3,C,5500,12.87,1,0.57,N,3,0
3,23,65500,3,4.0,3,C,35000,15.23,1,0.53,N,2,3
4,24,54400,3,8.0,3,C,35000,14.27,1,0.55,Y,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,0,1.0,4,C,5800,13.16,0,0.11,N,30,0
32577,54,120000,0,4.0,4,A,17625,7.49,0,0.15,N,19,0
32578,65,76000,3,3.0,2,B,35000,10.99,1,0.46,N,28,3
32579,56,150000,0,5.0,4,B,15000,11.48,0,0.10,N,26,0
32580,66,42000,3,2.0,3,B,6475,9.99,0,0.15,N,30,3

In [38]:
df['loan_grade'].value_counts(normalize=True)

A    0.328305
B    0.319540
C    0.199001
D    0.113416
E    0.030379
F    0.007298
G    0.002060
Name: loan_grade, dtype: float64

In [ ]:
dummyEncode_column()

# Carlos we need to do eda before dummylabel